* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.container-inicio {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(80, 16, 112);
    color: white;
    .inicio-pagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(39, 101, 125);
        color: white;
        width: 80%;
        height: 50%;
        padding: 20px;
        margin: 80px auto;
        gap: 50px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(28, 1, 43);

        .info {
            background-color: rgb(7, 54, 147);
            padding: 5px;
            border-radius: 10px;
        }
    }

    h1 {
        text-align: center;
    }
  
    input {
      padding: 10px;
      border-radius: 10px;
    }
  
    button {
      padding: 10px;
      background-color: rgb(125, 17, 17);
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }
    button:hover {
        background-color: rgb(99, 0, 20);
    }

    li {
        list-style: none;
    }
  
    p {
      cursor: pointer;
      color: blue;
    }
}
