* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.container-cadastroadm {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 89);
    .cadastroadm-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(39, 101, 125);
        width: 50%;
        height: 50%;
        padding: 20px;
        margin: 80px auto;
        gap: 15px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(31, 1, 48);

        h1 {
            text-align: center;
        }
      
        input {
          padding: 10px;
          border-radius: 10px;
        }
      
        button {
          padding: 10px;
          background-color: rgb(28, 1, 43);
          color: white;
          cursor: pointer;
          border-radius: 10px;
        }
        button:hover {
            background-color: rgb(6, 169, 101);
        }
      
        p {
          cursor: pointer;
          color: blue;
        }
    }
}
